.search-input {
    margin-right: 15px;
}

.button {
    margin-right: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: span 2; /* Pour que l'élément occupe toute la largeur */
}

.btn-primary {
    align-self: start;
}
